#Put me in /lib/systemd/system/
[Unit]
Description=Print API Service
After=network.target

[Service]
Environment="PRODUCTIVE=YES"
Environment="INVOICE_PDF_URL=https://rksv.greisslomat.at/invoice_pdf?code="

Type=simple
User=kassa
WorkingDirectory=/usr/share/bezahlonline
ExecStart=/usr/share/bezahlonline/printapi
Restart=on-failure
RestartSec=5
StartLimitAction=reboot

[Install]
WantedBy=multi-user.target